/**************************************************************/
/****************** CUSTOM PAGE STYLING ***********************/
/***************** by fiveonenine design **********************/
/**************************************************************/


/**************************************************************/
/******************* GENERAL PAGE STYLING *********************/
/**************************************************************

General page styling goes here. 

DELETE STYLING ON THIS PAGE BEFORE STARTING YOUR OWN WEBSITE.
INCLUDED STYLING IS JUST FOR DEMO PAGE!

*/


/**************************************************************/
/**************************************************************/
/**************************************************************/


/**************************************************************/
/***************** ADDITIONAL PAGE STYLING ********************/
/**************************************************************

Additional page styling goes here.

*/

.column100{
	/*background-color: orange;*/
}

#logo{
	width: 50%;
	margin-top: 20px;
}

#nav{
	list-style: none;
	position: relative;
	top: -225px;
}

#nav li{
	padding: 3px;
}

a{
	color: #666;
	font-size: 1.4em;
	font-family: "Minion Pro";
}

#sub-logo{
	width: 28%;
	margin-top: 20px;
	float: left;
	display: block;
}

#sub-nav{
	list-style: none;
	float: left;
	display: block;
	margin-top: 70px;
}

#sub-nav li{
	padding: 3px;
	text-align: center;
}

img{
	border: 0;
}




/**************************************************************/
/**************************************************************/
/**************************************************************/



/**************************************************************/
/******************* MEDIAQUERY RESPONSIVE ********************/
/**************************************************************

Custom Attributes if required for each device layout.

*/


@media (min-width: 768px) and (max-width: 979px) {

}
@media (min-width: 480px) and (max-width: 767px) {
	

}
@media (min-width: 0px) and (max-width: 479px) {
	

}


/**************************************************************/
/**************************************************************/
/**************************************************************/